<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SpCheckNotebookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.model.SpCheckNotebook">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="unit_id" property="unitId" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="type" property="type" />
        <result column="modifier" property="modifier" />
        <result column="spare_a" property="spareA" />
        <result column="spare_b" property="spareB" />
        <result column="spare_c" property="spareC" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, unit_id, create_date, modify_date, type, modifier, spare_a, spare_b, spare_c
    </sql>

</mapper>
